<body style="height:50%; width:50%;">
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
              <h5 class="mt-5"></h5>
			<center><h2 class="mt-5">VISION CORK</h2>
			<img src="https://plataforma9.com/upload/2015/08/uaveirop2.jpg"alt="Image" height="100" width="200">
             		<h5 class="mt-5"></h5>
			<form method="post" action="{{ url_for('tasks') }}">
			<input type="submit" value="Camera" name="Camera" />
			<input type="submit" value="Stepper" name="Stepper"/>
			<input type="submit" value="YoloV5" name="yolo" />
			